@import "src/theme/theme-variables";

* {
  margin: 0px;
  padding: 0px;
}

.login-conteiner,
.login-conteiner-shadow {
  width: 40%;
  height: calc(100vh / 2);
  position: fixed;
  margin-left: 30%;
  border-radius: 0px;
  margin-top: calc(100vh / 4);
}

.login-conteiner-shadow {
  background-color: #fff;
  opacity: 0.15;
  box-shadow: 8px 8px 5px #0000000a;
  z-index: 2;
}
.login-conteiner {
  z-index: 3;
  h1 {
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: calc(100% - 18px);
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    padding: 9px;
    top: 0;
    text-shadow: 1px 1px 0px #203e7e;
  }
  .form-text {
    position: relative;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 9px;
    bottom: 0;
    display: grid;
    // grid-template-columns: 50% 50%;
    a {
      font-size: 14px;
      font-family: "Nunito Sans";
      color: #919191;
      //text-shadow: 1px 1px 0px #8a8a8a;
    }
  }
  .login-form {
    width: 50%;
    margin-left: 0;
    border-radius: 13px;
    margin: 40px;
    padding: 40px;
    background-color: #fff;
    width: calc(100% - 160px);
    height: auto;
    .form-content {
      display: grid;
      align-items: center;
      height: 100%;
      .botoesLogin{
        margin-left: calc(5%);
        .cadastro{
          background-color: chocolate;
          color: #fff;
          margin-left: calc(12.5%);
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .login-conteiner,
  .login-conteiner-shadow {
    width: 25%;
    margin-left: 37.5%;
  }
}

@media screen and (max-width: 800px) {
  .login-conteiner,
  .login-conteiner-shadow {
    width: 350px;
    margin-left: calc(50% - 175px);
  }
}

/* Created by Mohammad Abdul Mohaiman */
.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: $gftSecondary;
  font-size: 50px;
  opacity: 0.2;
}

.area {
  background: $gftPrimary;
  background: -webkit-linear-gradient(to left, $gftPrimaryVariante, $gftPrimary);
  width: 100%;
  height: 100vh;
  position: fixed;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #fff;
  animation: animate 25s linear infinite;
  bottom: -150px;
  opacity: 0.2;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.05;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
