<div class="page">
  <div class="pageHeader">
    <h1>Detalhes da Obra</h1>
  </div>
  <div>
    <a [routerLink]="['/page/minhasObras']" class="voltar">Voltar</a>
  </div>
  <div class="pageContent">
    <div class="containerItens">
      <div class="containerImagem">
        <img src=".\..\assets\images\mountains.jpg" alt="Everest" class="imagem">
      </div>
      <div class="containerTitulo">
        <label for="titulo">Título</label>
        <p name="titulo">Monte Everest</p>
      </div>
      <div class="containerDescricao">
        <label for="descricao">Descrição</label>
        <p name="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan erat in varius
          varius. Pellentesque sed imperdiet libero. Curabitur a ipsum et mauris cursus elementum. Phasellus bibendum
          tincidunt nisi, non blandit elit. Morbi sit amet velit vitae sapien auctor viverra. In hendrerit malesuada
          euismod. In non varius tortor. Donec non mauris lacinia, tincidunt tellus sit amet, porta massa. In et diam
        </p>
      </div>
      <div class="containerTipo">
        <label for="tipo">Tipo</label>
        <p name="tipo">Fotografia</p>
      </div>
    </div>
  </div>
</div>