.form-upload {
//   padding-bottom: 1.25rem;

  .upload-input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .upload-filename {
    margin-left: 1rem;
  }
}

.password-field{
  margin-top: 1.5rem;
}